@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
* {
  font-family: 'VT323', monospace;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

body {
  background-color: #000 !important;
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  font-size: 15px;
}

.contenedor {
  background: #2a333d;
  color: #ebebeb;
  width: 400px;
  max-width: calc(100vw - 35px);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.msg {
  padding: 5px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

#mensaje {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
  font-size: 21px;
  font-weight: bold;
  margin: auto;
}

label {
  font-size: 19px;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.2rem;
}

.input {
  padding: 5px;
  width: 150px;
  border-radius: 0.25rem;
  border: 1px solid #e6dcf3;
  margin: 5px;
}

#intentos {
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 40px;
  border-radius: 0.25rem;
  border: 1px solid #e6dcf3;
  margin-right: 10px;
  margin: auto;
}

#user-num {
  width: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.button {
  margin: auto;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #9575cd;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.dif {
  font-size: 20px;
}

.button:hover {
  background-color: #673ab7;
  cursor: pointer;
}

.button:active {
  font-size: 19px;
  background-color: #512da8;
}

.button:focus {
  outline: 0;
}

.titulo {
  text-align: center;
  border-bottom: solid 1px;
  margin-bottom: 20px;
}

.dificultad {
  border-bottom: solid 1px #ffffff;
  padding: 5px;
  margin: auto;
}

.intentos {
  border-bottom: solid 1px #ffffff;
  padding: 5px;
  margin: auto;
}

.incorrecto {
  padding: 5px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ca3c3c;
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.intermedio {
  padding: 5px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #fcbf08;
  border-radius: 5px;
  color: #000000;
  line-height: 180%;
}

.correcto {
  padding: 5px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1cb841;
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.reset {
  margin: auto;
  background-color: #64b5f6;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

#facil {
  cursor: pointer;
}

#normal {
  cursor: pointer;
}

#dificil {
  cursor: pointer;
}

#muy-dificil {
  cursor: pointer;
}

#user-num {
  cursor: pointer;
}

.reset:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.reset:active {
  font-size: 19px;
  background-color: #1976d2;
}

.reset:focus {
  outline: 0;
}

.link {
  cursor: pointer;
  background: transparent;
  color: white;
}
/*# sourceMappingURL=main.css.map */