* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  max-height: calc(100vh - 18px);
}

.grid-container {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "sector1 sector1 sector1 sector1""sector2 sector2 sector2 sector2""sector3 sector3 sector3 sector3""sector4 sector4 sector4 sector4";
}

.sector1 {
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-area: sector1;
}

.sector2 {
  width: 100%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: 1fr 1.4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "\32 A \32 B";
  grid-area: sector2;
}

.\32 a {
  display: flex;
  grid-area: \32 A;
}

.\32 b {
  display: flex;
  grid-area: \32 B;
}

.sector3 {
  margin-top: 10px;
  width: 100%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "\33 A \33 B \33 C";
  grid-area: sector3;
}

.\33 a {
  grid-area: \33 A;
}

.\33 b {
  grid-area: \33 B;
}

.\33 C {
  grid-area: \33 C;
}

.sector4 {
  width: 100%;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-area: sector4;
}

.sector5 {
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-area: sector5;
}

.msg {
  padding: 5px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

#mensaje {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

label {
  font-size: 15px;
  text-align: left;
  margin-left: 0;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.input {
  padding: 5px;
  width: 150px;
  border-radius: 0.25rem;
  border: 1px solid rgb(230, 220, 243);
  margin: 5px;
}

#intentos {
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 40px;
  border-radius: 0.25rem;
  border: 1px solid rgb(230, 220, 243);
  margin-right: 10px;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #9575cd;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #673ab7;
}

.button:active {
  font-size: 15px;
  background-color: #512da8;
}

.button:focus {
  outline: 0;
}

.titulo {
  text-align: center;
  border-bottom: solid 1px;
  margin-bottom: 20px;
}

.incorrecto {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.intermedio {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #fcbf08;
  border-radius: 5px;
  color: #000000;
  line-height: 180%;
}

.correcto {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.reset {
  padding: 5px;
  border-radius: 5px;
  background-color: #64b5f6;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.reset:hover {
  background-color: #2196f3;
}

.reset:active {
  font-size: 15px;
  background-color: #1976d2;
}

.reset:focus {
  outline: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  a {
    cursor: pointer;
  }
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .grid-container {
    width: 95vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container {
    width: 80vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .grid-container {
    width: 70vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .grid-container {
    width: 60vw;
  }
}

@media (prefers-color-scheme: dark) {

  .grid-container,
  footer,
  footer a {
    background: #2a333d;
    color: #ebebeb;
  }

  body {
    background: #000000 !important;
  }
}

@media (prefers-color-scheme: light) {

  .grid-container,
  footer,
  footer a {
    background: #ffffff;
    color: #252525;
  }

  body {
    background: #96b7dd !important;
  }
}