@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

* {
  font-family: 'VT323', monospace ;
  font-weight: lighter ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

body {
  background-color: #000 !important;
  font-family: "Source Sans Pro", sans-serif;
}

.contenedor {
  max-height: calc(100vh - 20px) ;
  width: 400px ;
  max-width: calc(100vw - 35px);
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.msg {
  padding: 5px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

#mensaje {
  padding: 5px;
  text-align: left;
  margin-left: 10px;
  font-size: 21px;
  font-weight: bold;
  margin: auto;
}

label {
  font-size: 19px;
  text-align: left;
  margin-left: 0;
  margin-bottom: 0.2rem;
}

.input {
  padding: 5px;
  width: 150px;
  border-radius: 0.25rem;
  border: 1px solid rgb(230, 220, 243);
  margin: 5px;
}

#intentos {
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 40px;
  border-radius: 0.25rem;
  border: 1px solid rgb(230, 220, 243);
  margin-right: 10px;
  margin: auto;
}

#user-num {
  width: 65px;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 5px;
}

.button {
  margin: auto;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #9575cd;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.dif {
  font-size: 20px;
}

.button:hover {
  background-color: #673ab7;
  cursor: pointer;
}

.button:active {
  font-size: 19px;
  background-color: #512da8;
}

.button:focus {
  outline: 0;
}

.titulo {
  text-align: center;
  border-bottom: solid 1px;
  margin-bottom: 20px;
}

.dificultad {
  border-bottom: solid 1px #ffffff;
  padding: 5px;
  margin: auto;
}

.intentos {
  border-bottom: solid 1px #ffffff;
  padding: 5px;
  margin: auto;
}

.incorrecto {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.intermedio {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #fcbf08;
  border-radius: 5px;
  color: #000000;
  line-height: 180%;
}

.correcto {
  padding: 5px;
  display: inline-block;
  align-self: center;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  border-radius: 5px;
  color: #ffffff;
  line-height: 180%;
}

.reset {
  margin: auto;
  background-color: #64b5f6;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

#facil {
  cursor: pointer;
}

#normal {
  cursor: pointer;
}

#dificil {
  cursor: pointer;
}

#muy-dificil {
  cursor: pointer;
}

#user-num {
  cursor: pointer;
}

.reset:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.reset:active {
  font-size: 19px;
  background-color: #1976d2;
}

.reset:focus {
  outline: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  .link {
    cursor: pointer;
    background: transparent;
  }
}

@media (prefers-color-scheme: dark) {

  .contenedor,
  footer,
  footer a {
    background: #2a333d;
    color: #ebebeb;
  }

  body {
    background: #000000 ;
  }
}

@media (prefers-color-scheme: light) {

  .contenedor,
  footer,
  footer a {
    background: #ffffff;
    color: #252525;
  }

  body {
    background: #96b7dd ;
  }
}

.hidden {
  display: none;
}